{% extends 'news/default.html' %}
 
{% block title %}
Posts
{% endblock title %}

{% block button_content %}

<li class="nav-item">
    <a class="nav-link" href="/">страница пользователя</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/news/search/">search</a>
</li>

{% endblock button_content %}

{% block content_ %}
<h3>Информация о посте</h3>
<form method="POST">
    {% csrf_token %}
    {{ form }} <!-- Теперь нам нужна только готовая форма и кнопка -->
    <input type="submit" value="Добавить пост">
</form>
<p>
    <button> <a href="/news/">Назад</a> </button>
</p>
{% endblock content_ %}
